<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">



	<bean id="person" name="person" class="com.tamil.learnspring.Person"
		p:panId="AUBPM4916G">
		<constructor-arg name="userId" value="425" type="int"></constructor-arg>
		<constructor-arg name="userName" value="Murugan Nagarajan"
			type="String">
		</constructor-arg>
		<property name="addressDetail" ref="addressBean"></property>
		<property name="mobileNumbers">
			<set>
				<value type="java.math.BigDecimal">9677079797</value>
				<value type="java.math.BigDecimal">9677039862</value>
				<value type="java.math.BigDecimal">7401631601</value>
			</set>
		</property>
		<property name="skillSets">
			<list>
				<ref bean="spring" />
				<ref bean="java" />
				<ref bean="hibernate" />
				<ref bean="jquery" />
			</list>
		</property>
	</bean>

	<bean id="addressBean" class="com.tamil.learnspring.Address">
		<constructor-arg name="addressLine1" type="String"
			value="29, Vallalar Street">
		</constructor-arg>
		<constructor-arg type="String" name="addressLine2"
			value="Vandalur">
		</constructor-arg>
		<constructor-arg name="city" type="String" value="Chennai"></constructor-arg>
		<constructor-arg value="600048" type="String" name="pinCode"></constructor-arg>
		
	</bean>
	<bean id="spring" class="com.tamil.learnspring.SkillSet" p:technologyName="Spring" p:technologyCategory="Framework"></bean>
	<bean id="java" class="com.tamil.learnspring.SkillSet" p:technologyName="JAVA" p:technologyCategory="Programming"></bean>
	<bean id="hibernate" class="com.tamil.learnspring.SkillSet" p:technologyName="Hibernate" p:technologyCategory="Framework"></bean>
	<bean id="jquery" class="com.tamil.learnspring.SkillSet" p:technologyName="jQuery" p:technologyCategory="Web"></bean>
</beans>
