<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd">


	<context:component-scan base-package="src.main.java"></context:component-scan>
	<bean id="person" name="person"
		class="com.tamil.learnspring.spel.Person">
		<property name="userId" value="#{random.nextInt(9)*random.nextInt(10000)}"></property>
		<property name="userName" value="#{'Murugan ' + 'Nagarajan'}"></property>
		<!-- ?. is used for null check in java -->
		<!-- Use these SPEL expression in @Value annotations if needed -->
		<property name="greeting" value="#{randomMsg.sayHi() +  '  ' + randomMsg.sayHi()?.length()}"></property>
	</bean>
	
	<bean id="randomMsg" name="randomMsg" class="com.tamil.learnspring.spel.RandomMsg"></bean>
	
	
	<bean id="random" name="random" class="java.util.Random"></bean>
</beans>
